@model GI_Master_FrontEnd.ViewModels.EmpregadoVM

<form asp-action="EmpregadostDelete">
    <input asp-for="ID" hidden>
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Excluir</h1>

        <hr />
       <div class="row">
            <div class="col-sm-4 col-md-4">
                <span class="border border-success">
                    <img src="@WC.ImagenEmpregadoPath@Model.Foto" width="80%" style="border-radius:5px; border:1px solid #bbb"/>
                </span>
        </div>
            <div class="col-sm-8 col-md-8">
                <div class="col-8 col-md-8">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 text-primary">
                            Nome:
                        </div>
                        <div class="col-sm-8 col-md-8 " style="text-align:left">
                                @Model.Nome
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 text-primary">
                        CPF:
                    </div>
                        <div class="col-sm-8 col-md-8" style="text-align:left">
                                @Model.CPF
                    </div>
                    </div>
                </div>

                <div class="col-sm-8 col-md-8">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 text-primary">
                        DataNascimento:
                    </div>
                        <div class="col-sm-8 col-md-8" style="text-align:left">
                                @Model.DataNascimento
                    </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8">
                    <div class="row">
                    <div class="col-sm-4 text-primary">
                        Email:
                    </div>
                        <div class="col-sm-8 col-md-8" style="text-align:left">
                                @Model.Email
                    </div>
                </div>
                </div>

                <div class="col-sm-8 col-md-8">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 text-primary">
                        Telefone:
                    </div>
                        <div class="col-sm-8 col-md-8" style="text-align:left">
                                @Model.Telefone
                    </div>
                    </div>

                </div>

            </div>

            <div class="col-5 offset-2">
                <a asp-action="EmpregadoList" class="btn-primary btn form-control ">Back to List</a>
            </div>

            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>

        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
    }
