@model GI_Master_FrontEnd.ViewModels.EmpregadoVM

<form>
    <input asp-for="ID" hidden>
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Details</h1>

        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <span class="border border-success">
                    <img src="@WC.ImagenEmpregadoPath@Model.Foto" width="80%" style="border-radius:5px; border:1px solid #bbb"/>
                </span>                       
        </div>
            <div class="col-sm-8 col-md-8">
                <div class="col-8 col-md-8">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 text-primary">
                            Nome:
                        </div>
                        <div class="col-sm-8 col-md-8 " style="text-align:left">
                            @Model.Nome
                        </div>                        
                    </div>                   
                </div>            
                <div class="col-sm-8 col-md-8">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 text-primary">
                        CPF:
                    </div>
                        <div class="col-sm-8 col-md-8" style="text-align:left">
                        @Model.CPF
                    </div>
                    </div>
                </div>
          
                <div class="col-sm-8 col-md-8">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 text-primary">
                        DataNascimento:
                    </div>
                        <div class="col-sm-8 col-md-8" style="text-align:left">
                        @Model.DataNascimento
                    </div>
                    </div>
                </div>           
                <div class="col-sm-8 col-md-8">
                    <div class="row">
                    <div class="col-sm-4 text-primary">
                        Email:
                    </div>
                        <div class="col-sm-8 col-md-8" style="text-align:left">
                        @Model.Email
                    </div>                    
                </div>
                </div>

                <div class="col-sm-8 col-md-8">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 text-primary">
                        Telefone:
                    </div>
                        <div class="col-sm-8 col-md-8" style="text-align:left">
                        @Model.Telefone
                    </div>
                    </div>
                  
                </div>
           
            </div>
           
        </div>
        <div class="row">
            <div class="col-12 offset-12">
                <a asp-action="EmpregadoList" class="btn-primary btn form-control ">Back to List</a>
            </div>
        </div>
       
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
    }
